@page
@using Metier;
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    @*Si on est connecté*@
    @if (UtilisateurLogin.Instance.IsConnected){
        <h1 class="display-4 py-4">Vos prochaines fêtes</h1>
        <div class="row">
            <div class="col-md p-4">
                <h2>Vos invitations</h2>
                @foreach (Fete fete in UtilisateurManager.GetInvitations(UtilisateurLogin.Instance.GetUtilisateur().IdUtilisateur))
                {
                    <a href="Fete?fete=@fete.IdFete" class="text-decoration-none text-black">
                        <div class="p-4 my-4 shadow rounded row">
                            <div class="col-3 border-end p-2 align-self-center">
                                <p>Organisateur : @fete.Organisateur.Prenom @fete.Organisateur.Nom</p>
                                <img src="imgs/homme (1).png" alt="" class="w-50" />
                            </div>
                            <div class="col align-self-center px-4 py-1 text-start">
                                <h3 class="text-left">@fete.Nom</h3>
                                <p class="text-left">@fete.Description</p>
                                <p>Lieu : @fete.Lieu</p>
                                <p>
                                    Début : @fete.DebutFete
                                    <br />
                                    Fin : @fete.FinFete
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md p-4">
                <h2>Les fêtes ques vous organisez</h2>
                @foreach (Fete fete in UtilisateurManager.GetOrganisations(UtilisateurLogin.Instance.GetUtilisateur().IdUtilisateur))
                {
                    <a href="Fete?fete=@fete.IdFete" class="text-decoration-none text-black">
                        <div class="p-4 my-4 shadow rounded row">
                            <div class="col-3 border-end p-2 align-self-center">
                                <p>Organisateur : Vous</p>
                                <img src="imgs/homme (1).png" alt="" class="w-50" />
                            </div>
                            <div class="col align-self-center px-4 py-1 text-start">
                                <h3 class="text-left">@fete.Nom</h3>
                                <p class="text-left">@fete.Description</p>
                                <p>Lieu : @fete.Lieu</p>
                                <p>
                                    Début : @fete.DebutFete
                                    <br />
                                    Fin : @fete.FinFete
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        
    }
    else{
        <div class="row">
            <div class="col-md">
                <div class="p-4 my-3 shadow rounded">
                        <h1>Preparty, c'est quoi ?</h1>
                        <p>C'est un site web vous aidant à mieux organiser vos fêtes.</p>
                        <img src="~/imgs/index_party1.png" class="img-fluid" height="300px" width="300px" alt="">
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md">
                    <div class="p-4 my-3 shadow rounded">
                        <h2>Comment ça marche ?</h2>
                        <p>Une fois inscrit sur le site, vous pourrez créer vos fêtes, ou bien vous faire inviter. Vous pourrez ainsi visualiser les fêtes, et prendre connaissance en un coup d'oeil des différentes informations sur l'évennement. </p>
                        <img src="~/imgs/index_party3.png" class="img-fluid" height="300px" width="300px" alt="">
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="p-4 my-3 shadow rounded">
                    <h2>Commencez en vous inscrivant !</h2>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-lg btn-outline-primary" asp-page="/Inscription"><span>S'inscrire</span></a>
                    </div>
                    <img src="~/imgs/index_party2.png" class="img-fluid" height="300px" width="300px" alt="">

                </div>
            </div>
        </div>

    }
</div>
